.header__brand{
    text-decoration: none;
    font-weight: 300;
    color:#393939;
    font-size: 3.75rem;
    padding: .9375rem;
}

.menu {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.menu__title {
    position: absolute;
    top: 14rem;
    left: 38rem;
    font-size: 3.75rem;
    font-weight: 300;
    color: white;
    background-color: #393939;
    padding: 3rem 5rem 4rem 3rem;
    box-sizing: border-box; 
    text-align:left;
    z-index: 1;
}

.menu__title-container {
    position: relative;
    display: inline-block;
    width: fit-content;  
}

.menu__border{
    position: absolute;
    top: 13rem; 
    left: 37rem; 
    width: 300px; 
    height: 195px; 
    box-sizing: border-box;   
    border: 5px solid #5BACC3;
    z-index: 2;     
}

.menu__image {
    height: 600px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover; 
    transform: scale(1.76);
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.main__section--hot-drinks, .pastries{
    background-color: #FFF0ED;
    text-align: center;
    margin: 0;
    padding: .625rem 0;
}

.main__section--cold-drinks{
    background-color: #F7F7F7;
    text-align: center;
    margin: 0;
    padding: .625rem 0; 
}

.menu__drinks-nav {
    list-style: none;
    font-size: 1.3125rem;
    font-weight: 600;
    background-color: #393939;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    position: relative;
}

.menu__drinks-item {
    padding: 0 1.25rem;
    border-left: 0.25rem solid #5BACC3;
}

.menu__drinks-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.main__item-desc{
    margin: 0 auto;
    font-style: italic;
    max-width: 31.25rem;
}

.main__item-price {
    color: #5BACC3;
    padding: .625rem 0; 
}
