@use './partials/global' as *;

$color-white: #ffffff;
$color-graphite: #393939;
$color-nitro-blue: #5BACC3;
$color-nitro-pink: #FFF0ED;
$color-gray: #F7F7F7;

@mixin flex-center($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.header{

    &__bottom {
        background-color: $color-nitro-pink;
        @include flex-center(row, center, center);
        padding: 2.5rem, 1.25rem;
    }
    &__content {
        max-width: 50%;
    }

    &__desc{
        width: 55%;
        font-weight: 500;
        font-size: 1.125rem;
        color:$color-graphite;
        padding: 1.25rem;
        margin-bottom: 1.5rem;
    }

    &__image {
        max-width: 100%;
        height: auto;
        margin-bottom: 3rem;
    }

}

.button{
    background-color: $color-nitro-blue;
    color: $color-white;
    width: 11.3125rem;
    padding: .9375rem 2.8125rem 1.25rem 1.875rem;
    margin-left: 1.2rem;
    margin-bottom: 4rem;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    pointer-events: auto;

    &-container {
        position: relative;
        display: inline-block;
        width: fit-content;
        margin-bottom: 4rem;
    }
    
    &__border {
        position: absolute;
        top: -1.25rem; 
        left: 0.8125rem; 
        width: calc(100% - 1.25rem); 
        height: calc(100% + 2.1875rem); 
        box-sizing: border-box;   
        border: .125rem solid $color-graphite;
        z-index: 2;     
        pointer-events: none;

        .button:active + & {
            top: -0.9rem; 
            left: 1.25rem; 
            width: calc(100% - 1.25rem); 
            height: calc(100% + 2.1875rem); 
        }
    }
}



.mid-content{
    background-color: $color-gray;
    @include flex-center(column, center, center);
    
    &__title{
        text-align: center;
        padding-top: 1.25rem;
    }
    
}


.card {
    @include flex-center(row, center, center);
    margin: 1.25rem 0 3rem;
    padding: 2%;
    max-width: 75rem;

    &__list {
        @include flex-center(row, center, stretch);
        gap: 5.625rem;
        flex-wrap: wrap;
    }

    &__list-item {
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 27rem;
        background-color: $color-white;
        border-radius: .625rem;
        padding: 0rem;
        box-shadow: 0 .3125rem .5625rem -0.0625rem rgba(0,0,0,0.25);
    }

    &__list-image-container {
        flex: 2;
        @include flex-center(row, center, center);
        width:20rem;
        height: 13rem;
        padding: 1.25rem, 0rem, 1.25rem, 0rem;
    }
    
    &__list-info{
        display: flex;
        flex-direction: column;
    }
    
    &__list-image{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
    
    &__list-title {
        font-weight: 400;
        color: $color-graphite;
        font-size: 2.0625rem;
        margin-bottom: .625rem;
    }
    
    &__list-price {
        color: $color-nitro-blue;
        padding: .625rem 0;
        font-size: 2rem;
        font-weight: 700;
    }
    
    &__list-bottom{
        flex: 1;
        @include flex-center(row, space-between, center);
        padding: 0.625rem 0.9375rem; 
        background-color: $color-nitro-pink;
        border-radius: 0rem 0rem 0.625rem 0.625rem;
    
    }
    
    &__list-pack{
        padding: 0rem;
        margin-bottom: .625rem;
        font-weight: 500;
        color: #909090;
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.info{
    display: flex;
    background-color: $color-white;
    flex-direction: row;
    align-items: center;
    padding: 4.375rem;

    &__icon{
        width: 3rem;
        height: auto;
        margin-right: 5.625rem;
        margin-top: 1.875rem;
        margin-bottom: 1.25rem;
    }
    
    &_icons {
        @include flex-center(row, space-between, center);
        margin-bottom: 2rem;
        margin-left: 1.25rem;
    }
    
    &__content{
        width: 40%;
        margin-left: 2.5rem;
        margin-top: 5rem;
    }
    
    &__title{
        margin-right: 6.25rem;
    }
    
    &__desc{
        margin-left: 1.25rem;
        width: 85%;
        font-weight: 500;
    }
    
    &__can{ 
        position: absolute;
        bottom: -68.25rem;
        right:18rem;
        transition: transform 0.2s ease-in-out;
        z-index: 2;

        &:hover{
            animation: spin 2s infinite linear;
        }
    }
    
    &__background{
        height: 25rem;
        margin-top: 6.25rem;
        margin-left: 18.75rem;
        position: relative;
        z-index: 0;
        width: 25rem;
    }
    
    &__image-container{
        position: relative;
        display: inline-block;
    }
    
    &__background-border{
        position: absolute;
        top: 5rem;
        left: 17.5rem;
        width: calc(100% - 18.75rem); 
        height: calc(100% - 6.25rem); 
        border: .3125rem solid $color-nitro-blue;
        z-index: 1;
        box-sizing: border-box;
    }
}

@keyframes flash {
    0%, 100% {
      background-color: $color-graphite; 
    }
    50% {
      background-color: $color-nitro-blue; 
    }
}

.deal {
    background-color: white;
    padding: 12.5rem 6.25rem;
    text-align: center;
    width: 100%;
    
    &__desc{
        max-width: 95%;
        background-color: $color-graphite;
        color: white;
        font-size: 2.8125rem;
        text-align: center;
        font-weight: 500;
        padding: 2.75rem 0rem 2.75rem 0rem;
        margin: 0 auto; 
        box-sizing: border-box;
        animation: flash 2.5s infinite ease-in-out;
    }
    
    &__code{
        font-weight: 900;
    }    
}

.footer{
    background-color: $color-nitro-pink;
    padding: 4rem;
    @include flex-center(row, space-between, center);
    overflow: hidden;

    &__heading{
        font-weight: 500;
        padding-bottom: 1.25rem;
    }

    &__address{
        font-weight: 500;
    }

    &__hours{
        font-weight: 600;
    }

    &__logo-right{
        width: 7.5rem;
        opacity: 25%;
        position: relative;
        left: 7rem;
        bottom: -2rem;
    }
    &__logo-left{
        width: 7.5rem;
        opacity: 25%;
        position: relative;
        left: -6.5rem;
        top: -2rem;
    }

    &__hours{
        font-weight: 500;
    }

    &__hours-bold{
        font-weight: 900;
    }

    &__icon{
        width: 3.125rem;
        height: auto;
    }
}